<!-- 
<head>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Sign in</title>
</head> -->
<div class="wrapper">
  <div class="container">
    <h1>Login</h1>
    <form action="#">
      <input type="text" placeholder="username" class="field">
      <input type="password" placeholder="password" class="field">
      <input type="submit" value="login" class="btn">
    </form>
    <div class="pass-link">
      <a href="#">Create an account</a>
    </div>  
  </div>
</div>


<!-- <div id="login">
  <form id="login_form" (ngSubmit)="onSubmit()">
    <div class="field_container">
      <input type="text" placeholder="Email Address" [(ngModel)]="data.email" name="email">
    </div>
    
    <div class="field_container">
      <input type="Password" placeholder="Password" [(ngModel)]="data.password" name="password">
      <button id="sign_in_button">
        <span class="button_text" type="submit">Sign In</span>
      </button>
    </div>

    <p *ngIf="loginRes != ''">{{loginRes}}</p>
    
    <div id="sign_in_options" class="field_container">
        <div id="sign_in_alternatives_container">
          <span id="password_sign_in_option">or you can <a href="#" id="password_sign_in" class="login_link">sign in using a password</a></span>
        </div>
        <div id="remember_me_container">
          <input name="user[remember_me]" type="hidden" value="0"><input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1">
          <label class="login_link" for="user_remember_me" id="remember_me_label">stay signed in</label>
        </div>
        <div class="clearfix"></div>
      </div>
  </form>
  
  <div id="dont_have_an_account">
    <h2>
      Need to <a href="#" class="login_link">sign up</a> for an account
      or <a href="#" id="forgot_password_link" class="login_link">reset</a> your password?
    </h2>
  </div>
</div> -->


<!-- <body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin" (ngSubmit)="onSubmit()">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" [(ngModel)]="data.email" name="email" required autofocus>
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" [(ngModel)]="data.password" name="password" required>
                <label for="inputPassword">Password</label>
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Log in</button>
              <hr class="my-4">
              <p *ngIf="loginRes != ''">{{loginRes}}</p>
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body> -->